<div class="container" style="width: 400px;">
    <form>
        <div class="text-center mb-2">
            <p style="font-size: 30px;">Sign up Here</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f">f</i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-google">G</i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter">t</i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-github">Gh</i>
            </button>
        </div>

        <p class="text-center">or:</p>

        <div class="form-outline mb-3">
            <input type="text" id="registerName" class="form-control" placeholder="Firstaname" />
        </div>

        <div class="form-outline mb-3">
            <input type="text" id="registerUsername" class="form-control" placeholder="Lastaname" />
        </div>

        <div class="form-outline mb-3">
            <input type="email" id="registerEmail" class="form-control" placeholder="Email" />
        </div>

        <div class="form-outline mb-3">
            <input type="text" id="registerPassword" class="form-control" placeholder="Mobile No." />
        </div>

        <div class="form-outline mb-3">
            <input type="password" id="registerRepeatPassword" class="form-control" placeholder="Password" />
        </div>

        <div class="form-outline mb-3">
            <input type="password" id="registerRepeatPassword" class="form-control" placeholder="Confirm Password" />
        </div>



        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        <p style="font-size: 12px;">Already registerd?<a href="/"> Login</a></p>

    </form>
</div>